<%= form_tag bulk_update_posts_path, :class => "form-inline" do %>
<% @posts.each do |post|  %>
    <td>
       <%= check_box_tag "ids[]", post.id %>
     </td>
<div id="page_wrapper">
  <div class="post-weapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="data"><%= post.created_at.strftime("%Y, %D, %B") %></p>
  </div>
  <hr>
</div>
<% end %>

<p><%= submit_tag "批次删除", :class => "btn btn-default", :data => { :confirm => "Are you sure?" } %></p>
<% end %>

  <script>
    // 这个 javascript 会绑事件在 #toggle_all 核选方块上，来做全选效果
    $("#toggle_all").click(function(){
      if ( $(this).prop("checked") ) {
        $("input[name='ids[]']").prop("checked", true);
      } else {
        $("input[name='ids[]']").prop("checked", false);
      }
    })
  </script>
