
<div id="page_wrapper">
  <h2 style="text-align:center;">新增博客</h2>
  <%= simple_form_for @post do |f| %>

  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    <%= f.input :title,label: "标题"%>
    <%= f.input :body,label: "内容"%>
    <%= f.submit %>
  <% end %>
</div>
